body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #bdc2c9;
}

a:hover{
    color: aliceblue;
}

li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li{
    float: left;
}

li a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar-default{
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: inline;
}
